* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav h2 {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}

nav:hover {
    background-color: #555;
}

header {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-image: url('https://cdn-3.expansion.mx/dims4/default/595158d/2147483647/strip/true/crop/1254x836+0+0/resize/1200x800!/format/webp/quality/60/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fdc%2Fb5%2Fd9d9a4834699b637eb2c145013b0%2Fistock-639711544.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    color: black;
}

.header-content {
    position: relative;
    z-index: 1;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    box-sizing: 10px 6px 37px -13px rgba(51,51,51,0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    /*background-color: chocolate;*/
}
.Container{
    display: grid;
    gap: 20px;
    grid-template:
    "header" 200px
    "navbar" 50px
    "main"
    "footer";

    .header{
        grid-area: header;
       
    }
    .navbar{
        grid-area: navbar;
        
    }
    .footer{
        grid-area: footer;
        background-color:brown;
    }
    
    .main{
        grid-area: main;
        background-color:blueviolet;
    }
    .footer{
        grid-area: footer;
        background-color: crimson;
    }
    @media(min-width: 768px){
    grid-template:
    "header navbar" 50px
    "header navbar" 50px
    "sidebar main" auto
    "footer footer" 100px/
    200px auto;
    }
    @media(min-width: 992px){
    grid-template:
    "header header header" 100px
    "header main sidebar" auto
    "footer footer footer" 100px/
    200px auto 200px;
    }
}
