/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar h2 {
    margin: 0;
    font-size: 1.5em;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos para el encabezado */
.header-content {
    background-image: url('https://cdn-3.expansion.mx/dims4/default/595158d/2147483647/strip/true/crop/1254x836+0+0/resize/1200x800!/format/webp/quality/60/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fdc%2Fb5%2Fd9d9a4834699b637eb2c145013b0%2Fistock-639711544.jpg'); /* Agrega la ruta de la imagen */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px;
}

.text-container {
    max-width: 600px;
    margin: 0 auto;
}

.text-container h1 {
    font-size: 3em;
    margin: 10px 0;
}

.text-container h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

/* Estilos para las imágenes */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.img1, .img2, .img3 {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

/* Media query para tablet */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Media query para celular */
@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}